*{box-sizing: border-box;}

body{
    margin: 0px;
    background-color:#f8eacd;
}

.naslov_bg{
    color:#000000;
    font-family:Graphik;
    font-size:70px;
    text-align:center;
}

.txt1{
    color:#000000;
    text-align:center;
    font-size:20px;
    font-family:Graphik;
}

.container{
    width: 100vw;
    height: 100vh;
    color:black;
    font-weight:normal;
    text-align:center;
    font-size:20px;
    font-family:Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 50px auto;
    gap: 0px;
}

.header{
    grid-column-start: 1;
    grid-column-end: 4;
}


.content{
    grid-row-start:1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;

overflow: hidden;
background-color: #00000027
}

li {
float: right;
}

li a, .dropbtn {
display: inline-block;
color: #000000;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
background-color: #7c7c7c;

}

li.dropdown {
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f8eacd;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

.dropdown-content a:hover {background-color: #7c7c7c;}

.dropdown:hover .dropdown-content {
display: block;
}

@font-face {
    font-family: Graphik;
    src: url(GraphikRegular.otf);
}
